@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.defaultBtn {
  @apply flex gap-2 whitespace-nowrap border-2 text-white border-indigo-600/25 bg-indigo-600 hover:bg-indigo-400 focus:ring-0 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-500 dark:focus:ring-indigo-800 hover:text-white transition-all ease-in-out  dark:text-white cursor-pointer;
}

.bgColor {
  @apply bg-[#282f46];
}

.default-input {
  @apply block w-full lg:w-40 rounded-md h-11 bg-gray-400 font-medium bg-opacity-40 dark:bg-slate-500/20 shadow-2xl text-black dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:ring-0 focus:border-indigo-800  leading-6;
}

.rdrDateRangePickerWrapper,
.rdrDefinedRangesWrapper,
.rdrStaticRange,
.rdrCalendarWrapper,
.rdrDateDisplayWrapper,
.rdrDateDisplay,
.rdrDateInput,
.rdrMonth,
.rdrDateRangeWrapper {
  @apply dark:bg-[#282f46] rounded-md dark:text-white dark:hover:text-blue-600 !important;
}

.rdrDateRangeWrapper,
.rdrDays,
.rdrDay,
.rdrDayNumber *,
.rdrMonthAndYearPickers *,
.rdrInputRangeInput *,
.rdrInputRange * {
  @apply dark:text-white !important;
}

.rdrDefinedRangesWrapper {
  display: none !important;
}
.filter-search-input {
  @apply block w-full rounded-md h-11 bg-white bg-opacity-40 mt-2 dark:bg-stone-950/20 shadow-2xl dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:ring-indigo-500 focus:border-indigo-800 sm:text-sm sm:leading-6 mb-3 py-3 px-4 ps-11 border block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
