@tailwind base;
@tailwind components;
@tailwind utilities;

/*Without Tailwind Setup*/
/*body {*/
/*  color: #333;*/
/*background-color: aliceblue;*/
/*}*/

/*[data-theme="dark"] body {*/
/*  background-color: #333;*/
/*    color: aliceblue;*/
/*}*/

/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}


*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  border-radius: 20px;
  border: 3px solid transparent;
}
