@tailwind base;
@tailwind components;
@tailwind utilities;

/*Without Tailwind Setup*/
/*body {*/
/*  color: #333;*/
/*background-color: aliceblue;*/
/*}*/

/*[data-theme="dark"] body {*/
/*  background-color: #333;*/
/*    color: aliceblue;*/
/*}*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
