$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;

@mixin sm {
  @media screen and (max-width: ($sm)) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: ($md)) {
    @content;
  }
}
@mixin lg {
  @media screen and (max-width: ($lg)) {
    @content;
  }
}
@mixin xl {
  @media screen and (max-width: ($xl)) {
    @content;
  }
}
@mixin xxl {
  @media screen and (max-width: ($xxl)) {
    @content;
  }
}

.chartBox {
  display: flex;
  height: 100%;

  @include sm{
    flex-direction: column;
  }

  .boxInfo {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include sm{
      gap: 20px;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 4px;

      @include xxl{
        font-size: 14px;
      }
    }

    h1{
      @include xxl{
        font-size: 20px;
      }
    }
  }

  .chartInfo {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chart {
      width: 100%;
      height: 100%;
    }

    .texts {
      display: flex;
      flex-direction: column;
      text-align: right;

      .percentage {
        font-weight: bold;
        font-size: 20px;

        @include xxl{
          font-size: 16px;
        }
      }

      .duration{
        font-size: 14px;
      }
    }
  }
}